:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notification-success,
.notification-error {
    min-height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.notification-success {
    background-color: lightgreen;
    border: 2px solid darkgreen;
    color: darkgreen;
}

.notification-error {
    background-color: #ffd6d6;
    border: 2px solid #b00020;
    color: #b00020;
}

.clear{
    color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
